<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>khmer-typing</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
    <% if (process.browser) { %>
      <!-- Progressive WepApp -->
      <link rel="manifest" href="/manifest.json">
      <meta name="description" content="Learn Khmer Typing">
      <meta name="theme-color" content="#3F51B5" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">
      <meta name="apple-mobile-web-app-title" content="Khmer Typing">
      <link rel="apple-touch-icon" href="/images/icons/icon-152x152.png">
      <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
            // Registration was successful
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
          }, function(err) {
            // registration failed :(
            console.log('ServiceWorker registration failed: ', err);
          });
        });
      }
      </script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <% if (!process.browser) { %>
      <script>
        if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
      </script>
    <% } %>
    <% if (process.browser) { %>
      <noscript>
        Khmer Typing application requires Javascript to run.<br />
      </noscript>
    <% } %>
    <!-- webpack builds are automatically injected -->
  </body>
</html>
